html, body{
    height: 100%;
}
body{
 
    background: url('../img/bg.jpg') no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

}

.app-container{
    max-width: 500px;
    width: 100%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.5)
}
.new-task-container{
    margin-bottom: 35px;
}

.task-container ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.single-task{
    margin-bottom: 10px;
}